.home-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #e8e8e8;
    width: min(95vw,350px);
    gap: 20px;

    h3{
      position: relative;
      top: 10px;
    }

  p{
    font-size: 1.3rem;
    text-align: center;
  }
}